<!-- Paper Modal -->
<div id="paperModal" class="paper-modal" aria-hidden="true">
    <div class="paper-modal__backdrop" data-close="1"></div>
  
    <div class="paper-modal__dialog" role="dialog" aria-modal="true">
      <button class="paper-modal__close" type="button" aria-label="Close" data-close="1">✕</button>
  
      <div class="paper-modal__content">
        <div class="paper-modal__left">
          <img id="paperModalImg" src="" alt="Paper figure" />
        </div>
  
        <div class="paper-modal__right">
          <div class="paper-modal__meta">
            <h3 id="paperModalTitle"></h3>
            <div id="paperModalVenue" class="paper-modal__venue"></div>
          </div>
  
          <h4>Abstract</h4>
          <p id="paperModalAbs" class="paper-modal__abs"></p>
        </div>
      </div>
    </div>
  </div>